{% load static %}
<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
    <title>Image Upload</title>
  </head>
  <body>
    <header>
      <h1>Upload Image</h1>
      <hr>
    </header>
    <main>
      <form action="{% url "upload" %}" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <label class="file-label">
          <input class="file-input" type="file" name="image_file">
          <span class="file-cta">
            <span class="file-label">Choose a file...</span>
          </span>
        </label>
        <label class="radio">
          <input type="radio" name="image_type" value='public' checked>
          Public
        </label>
        <label class="radio">
          <input type="radio" name="image_type" value='private'>
          Private
        </label>
        <br>
        <input type="submit" value="Submit" class="button is-primary" />
      </form>
      {% if image_url %}
      <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
      {% endif %}
    </main>
    <footer></footer>
  </body>
</html>
