{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
		  <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
		  <pre>Hello world!</pre>
	          <pre>fizzbuzz</pre>
		</div>
		<img style="-webkit-user-select: none; display: block; margin: auto; padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); cursor: zoom-in;" src="http://10.112.113.212:8000/test/2020-0011_view-358.jpg?AWSAccessKeyId=test-key-id&amp;Signature=krgMdhxpP9Nqrhc4M1e1yz5BsLs%3D&amp;Expires=1722445410" width="1071" height="841">
	</body>
</html>
